<form class="form-signin" autocomplete="off">
    <h2 class="form-signin-heading">Please register</h2>
    <label for="inputEmail" class="sr-only">Username</label>
        <input name="email" [(ngModel)]="user.username" type="test" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" [(ngModel)]="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" (click)="register()" type="submit">Register</button>
    <button class="btn btn-primary btn-block" [routerLink]="['/']" type="button">Have an account? Sign in</button>
</form>